[Desktop Entry]
Name=Islam Made Easy
Version=1.0.0
Comment=Islamic Quiz application that let you understand your religion easier
Exec=islam-made-easy
Icon=${SNAP}/meta/gui/Logo.png
Terminal=false
Type=Application
Categories=Islam;Education;Game;
GenericName=IME
StartupNotify=true
Keywords=Islam;Quiz;Learn;Tawheed;Aqeedah;Flutter;
